h4{
    text-align: center;
}

.tabel, .tabel tr, .tabel td{
    border: 1px solid black;
    border-collapse: collapse;
}

.tabel, .tabel tr, .tabel td, .tabel th{
    border: 1px solid black;
    border-collapse: collapse;
}